{% extends 'base.html.twig' %}

{% block title %} KTU NOW | Editing event{% endblock %}

{% block body %}

    {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Pateikti</button>
    {{ form_end(form) }}

    <br>

    <div class="my-1 py-1 " id="map"></div>

    <br>

{% endblock %}
