
*{
    font-family: 'Open Sans', sans-serif;
}
.login-form-container{
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 400px;
}

.login-form-container *{
    text-align: center;
}
.login-form input{
    min-width: 300px;
    padding: 4px 0;
    margin: 10px 0;
}

.login-form .submit-button{
    min-width: 0px;
    width: 150px;

}

.login-form{
    margin-top:50px;
    text-align: center;
}

.login-form .submit-button{
    background-color: #774B9E; /* DD color */
    color: white;
    font-weight: bold;
}


.login-form-logos img:nth-child(2){
    max-width: 118px;
    margin-left: 5px;
}
.login-form-logos img:nth-child(1){
    max-width: 80px;
    margin-right: 5px;
}

.login-form-container form{
    margin-top: 10px;
}
.login-form-logos{
    display:flex;
    align-items: center;
    justify-content: center;
}