{% macro event_administration(id) %}

{% if is_granted('ROLE_ADMIN') %}
<div class="event-administration">
    <a class="p-1" href="{{ path('event_edit', {'id': id}) }}"> Edit </a>
    <a class="p-1" href="{{ path('event_delete', {'id': id}) }}"> Delete </a>
    <a class="p-1 commentButton" href="{{ path('event_comment', {'id': id}) }}"> Komentuoti </a>
</div>
{% endif %}

{% endmacro %}


{% macro price_format(event) %}

<p style="float:right">
{% if event.price == 0 %}
Nemokamas
{% else %}
   {{event.getFormattedPrice()}} €
{% endif %}

</p>

{% endmacro %}
