{% extends 'base.html.twig' %}

{% block title %} KTU NOW | Editing event{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            var my_lat = 54.897222;
            var my_lon = 23.886111;

            $('#event_lat').val(my_lat);
            $('#event_lng').val(my_lon);

            var mymap = L.map('map').setView([my_lat, my_lon], 13);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZGFpc2FkbWluIiwiYSI6ImNqcjk3ZWh0djAxemo0NW15Zm9pb3BiNHAifQ.UM9_gDRuLxs1mGvPSjSsHQ', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                minZoom: 12,
                id: 'mapbox.streets',
                accessToken: 'your.mapbox.access.token'
            }).addTo(mymap);

            var marker = L.marker([my_lat, my_lon]).addTo(mymap);

            mymap.on('click', function (e) {

                mymap.removeLayer(marker);

                marker = new L.marker([e.latlng['lat'], e.latlng['lng']]).addTo(mymap);


                $('#event_lat').val(e.latlng['lat']);
                $('#event_lng').val(e.latlng['lng']);

                console.log(e.latlng);
            });
        });
    </script>
{% endblock %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container my-3 py-2">
        <h1 style="text-align: center;" class="my-2">Sukurti renginį</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="my-1 py-1 " id="map"></div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn my-5 btn-primary" style="width: 25%;">Pateikti</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>



{% endblock %}
