{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}


    {{ form_start(form) }}

        {{ form_widget(form) }}
        <button class="btn btn-success btn-block btn-lg">save</button>

    {{ form_end(form) }}


{% endblock %}
