{% extends 'base.html.twig' %}

{% block title %} KTU NOW | Creating comment{% endblock %}



{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {# <div class="container">
         {{ form(form) }}
         <button type="submit" class="btn btn-primary">Naujas renginys</button>
     <br>#}

    <div class="container my-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Pateikti</button>
        {{ form_end(form) }}

    </div>



{% endblock %}
