{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container my-3 py-2">
        <h1 style="text-align: center;" class="my-2">Prisijunkite</h1>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control my-1" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only my-1">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control my-1" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>

        <a href="{{ url("reset_form") }}" > Forgot password? Click here...</a>
    </div>




</form>
{% endblock %}
