{# templates/emails/registration.html.twig #}
<h3>Registration reset!</h3>

<p> Password request from {{ email }} </p>

<a href="{{ url('create_password', {'token': reset_token}) }}">
    Click here to reset password
</a>