{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ email }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('event_index') }}">...</a>.

Thanks!
