{% extends 'base.html.twig' %}
{% import "event/eventMacros.html" as forms %}

{% block title %}KTU NOW{% endblock %}

{% block body %}

    <div class="container">

        <div class="row my-5 p3">
            <!-- Header -->
            <div class="col-12 text-" style="background: #718C00">
                <h1>- About -</h1>
            </div>

            <!-- Body -->
            <div class="col-12 row p-0 m-0">
                <!-- Main panel -->
                <div class="col-md-8" style="background: #7448A1;">
                    susiktas fr ciuvas jyftjjgfhjjkkl
                </div>
                <!-- Side panels -->
                <div class="col-md-4" style="background: springgreen">

                    <div class="my-2 p-2" style="background: #916319">
                        I have no IDEA WHAT TO PUT HERE
                    </div>

                    <div class="my-2 p-2" style="background: #916319">
                        waaaaaaaaaaaaaaa
                    </div>

                    <div class="my-2 p-2" style="background: #916319">
                        rtyuioplkmnbvcxs
                    </div>

                </div>
            </div>

            <!-- Footer -->
            <div class="col-12 text-center" style="background: blueviolet;">
                Bootorm
            </div>


        </div>

    </div>

{% endblock %}
