<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>



        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        <div>
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
