{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container my-3 py-2">
        <h1 style="text-align: center;" class="my-2">Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-primary">Pateikti</button>
        {{ form_end(registrationForm) }}
        <div class="my-1 py-1 " id="map"></div>
    </div>


{% endblock %}
